/* CSS Document */



* {
  padding: 0;
  margin: 0;
}

body {
  font-family: HelveticaNow,Helvetica,sans-serif;
}

h2 {
  color: rgb(26, 26, 26);
  
  font-family: HelveticaNow, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 550;
}

button:focus {
  outline: 0;
}



/* FOOTER */

footer
{
  background-color:#26272b;
  
  font-size:15px;
  line-height:24px;
  color:white;
  height: 550px;
  padding-top: 25px;
}

footer p {
  margin-left: 15px;
}
footer ul {
  column-count: 3;
  column-width: 100px;
  margin-left: 15px;
  margin-top: 15px;

}
footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  padding: 10px;
  width: 300px;
}

footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}


.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.foot {
  padding: 0;
  column-count: 3;
  column-width: 100px;
  text-align: left;
  width: 150px;
  
}




/* FOOTER */

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.call {
  font-weight: 550;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -.16px;

  /* color: #fff; */
}

.call2 {
  font-size: 16px;
  font-weight: 150;
  height: 40px;
  width: 150px;
  letter-spacing: -0.16px;
  line-height: 24px;
  padding: 15px;
  margin-top: 10px;
  padding-bottom: 0px;
  padding-left: 0;
}

.deal {
  text-size-adjust: 100%;
  font-family: Tiempos,Times New Roman,serif;
  
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: -.32px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 100;
  letter-spacing: -.24px;
}

.wit {
  color: #fff;
}

.paars {
  color: rgb(99, 40, 224);
}

.backpaars {
  background-color: rgb(99, 40, 224);;
}

.zwart {
  color: black;
}

.backwit {
  background-color: white;
}

.backrood {
  background-color: #B21418;
}

header {
  /* position: relative; */
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1100px;
  padding-right: 0;
}

ul {
  list-style-type: none;
  display: inline;
  padding-left: 0px;
  padding-right: 0px;
}

header li{
  display:inline-block;
}

li a  {
  display: block;
  color: rgb(26, 26, 26);
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}

/* header ul:nth-child(1) li:nth-child(1), ul:nth-child(1) li:nth-child(1) {
padding-left: 8px;
} */



li .collectie a:hover {
  background-color: #111;
  color: white;
}

 .active {
  background-color: black; 
  color: white;
}

.collectie {
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.collectie2 {
  font-size: 14px;
  padding-left: 16px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.collectie3 {
  font-size: 12px;
  position: relative;
  padding-top: 25px;
  padding-left: 0;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /* scroll-padding-left: 32px; */
  -webkit-overflow-scrolling: touch;

  
  padding-right: 0px;
  
  padding-bottom: 10px;
   
  
}

.collectie3 li {
  padding-right: 30px;
  padding-left: 0;
  padding-top: 0px;
  font-size: 14px;
  font-weight: 530;
  height: auto;
  letter-spacing: -0.16px;
  line-height: 24px;
  display: inline-block;
}

/* .Logozalando {
  flex: 33.33%;
  padding: 5px;
  max-width: 120px;
} */

.Icon {
  box-sizing: border-box;
  flex: 33.33%;
  padding: 5px;
  max-width: 25px;
}

#Topnavjes {
  position: relative;
  padding-top: 15px;
}
@media only screen and (max-width: 1080px) {
  #Zalando {
    margin: 0;
    position: absolute;
    padding-top: 12px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#Icons {
  position: absolute;
  right:0;
}
#tasje {
padding-right: 0;
}

#Zoek {
  height: 35px;
  padding-top: 15px;
  padding-bottom: 3px;

}

#streepje {
  border-bottom: 1px solid #d0d1d3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(208, 209, 211);
}

@media only screen and (min-width: 1080px) {
  #Zoek #Zoekbalk {
    padding: 6px;
    background: #ddd;
    border: none;
    cursor: pointer;
    scroll-margin: 0;
  }

  #Zoekbalk {
    position: absolute;
    right: 0;
    width: 150px;
  }
}

#Zoekbalk input {
  width: 50px;
  position: relative;
  bottom: 2px;
  background-color: transparent;
  color: #1a1a1a;
  border: none;
  box-sizing: border-box;
  padding-top: 8px;
  letter-spacing: .5px;
  font-size: 16px;
  outline: none
}

input {
  border: none;
}
@media only screen and (min-width: 1080px) {
  .Loop {
    float: right;
    padding-left: 5px;
    max-width: 15px;
  }
  .Hamburger, #Hamburger {
    display: none;
  }
  
}
.container {
  height: 300px;
}



.container2 {
  background-color: rgb(108, 9, 8);
}

.container3 {
  height: 550px;
 
}

.wrapper {
  
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1100px;
}
.extra {
  display: flex;
  justify-content: space-between;
}

.slider {
  display: flex;
  overflow-x: auto;
}

.sliderdetail {
  display: flex;
  overflow-x: auto;
  width: 100%;

}

.merk {
  
  color: rgb(26, 26, 26);
  cursor: pointer;
  
  font-family: "Times New Roman", serif;
  font-size: 14px;
  font-weight: 400;
}

.merk-d {
  
  color: rgb(26, 26, 26);
  cursor: pointer;
  font-family: "Times New Roman", serif;
  font-size: 21px;
  font-weight: 400;
}
 
#disclaimer{
  color: rgb(102, 103, 110);

  font-family: HelveticaNow, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  letter-spacing: normal;

  line-height: 20px;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-top: 0px;
}

.beschrijving {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 177px;
  margin-top: 5px;
  margin-bottom: 10px;

  color: rgb(26, 26, 26);
  cursor: pointer;
  font-family: HelveticaNow, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.beschrijving-d {
 
  white-space: nowrap;
  width: 177px;
  margin-top: 5px;
  margin-bottom: 10px;

  color: rgb(26, 26, 26);
  cursor: pointer;
  font-family: HelveticaNow, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.new {
  font-family: HelveticaNow, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgb(235, 0, 55);
  margin-right: 8px;
  cursor: pointer;
}

.new-d {
  font-family: HelveticaNow, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: rgb(235, 0, 55);
  margin-right: 8px;
  cursor: pointer;
}

.old {
  color: rgb(102, 103, 110);
  cursor: pointer;
  font-family: HelveticaNow, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: line-through;
}

.old-d {
  color: rgb(102, 103, 110);
  cursor: pointer;
  font-family: HelveticaNow, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: line-through;
}

#seizoen-info {
  margin-top: 1.5rem;
  padding-top: 15px;
}

.product-info {
  width: 366px;
  height: 201px;
  line-height: 4;
}

@media only screen and (min-width: 1080px) {
  #seizoen-info {
    display: inline;
    width: 250px;
  }
  .box1 {
    flex-direction: row;
    width: 250px;
  }
}

.Pijltje {
  padding-bottom: 0;
  
  width: 20px;
}

span {
  position: relative;
  top: 3px;
}

#placeholder{
padding-bottom: 127px;

}


a {
  text-decoration: none;
}


/* @media only screen and (min-width: 1080px) { */
  #kerst_item {
    width: 350px;
    object-fit: contain;
    padding-top: 47px;
    /* padding-right: 20px; */
  }

  .slider {
    margin-top: 49px;
  }
/* } */

.liefde {
  position: relative;
  border: 0;

  left: 155px;
  top: 50px;

  padding-top: 5px;
}

#card-item {
  
  width: 177px;
  height: 255.578px;
  margin-right: 15px;
}

.slider {
  margin-top: 49px;
  margin-left: 10px;
  width: 600px;
  height: 400px;
}

.box {
  width: 800px;
  
}

.box1 {
  margin-top: 45px;
  margin-right: 10;
  flex-grow: 2;
  /* align-self: flex-end; */
  padding-bottom: 24px;
  
}

.box2 {
  
  /* align-self: flex-end; */
  
  flex-grow: 0;
  
}

header ul:nth-child(1) li:nth-child(2) {
  /* background-color: brown; */
}

@media only screen and (max-width: 414px) {

  .wrapper {
    margin: 0px;
  }
  .collectie, .collectie2 {
    display: none;
  }
  #Zalando {
    left: 0px;
    /* width: 299px; */
    padding-left: 7em;
  }

  .Home {
    width: 125px;
    padding-top: 13px;
    /* height: 30px; */
   }
  
  #Icons {
    position: relative;
    left: 200px;    
  }

  #Icon {
    max-width: 30px;
  }

  #sterretjes {
    width: 136px;
  }

  .Loop {
    width: 25px;
    position: relative;
    float: right;
    left: 330px;
    top: 12px;

  }
  .Hamburger {
    display: run-in;
    max-width: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px;
  }
  #Hamburger {
    padding-top: 2.5px;
    height: 47px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 1.5px;
    border-right-color: rgb(211, 211, 211);
    background-color: transparent;
  }
  #streepje {
    display: none;
  }
  #Zoek #Zoekbalk {
    padding: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    scroll-margin: 0;
    height: 47px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
    border-right: 0px;
    border-left: 0;
    }
  #Zoek {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  #Zoekbalk {
    position: absolute;
    left: 0;
    width: 414px;
    }

    header {
      margin-bottom: 13px;
    }
  .wrapper, .extra, .box {
    width: 380px;
  }
  .box {
    flex-direction: column;
    
  }

  .collectie3 {
    padding-top: 0;
    width: 397px;
    text-overflow:clip
  }

  .box1, .box2 {
    margin: 0;
    padding: 0;
    width: 350px;
  }

  #placeholder {
    display: none;
  }

  #kerst_item {
    position: relative;
    padding-top: 20px;
    width: 383px;
    left: 15px;
  }

  #seizoen-info {
    padding: 0px;
  }
  .call {
    padding-top: 25px;
  }
  .call2 {
    padding-top: 20px;
    padding-bottom: 0px;
    
  }
  .deal {
    font-weight: 50;
  }
  .container {
    height: 430px;
  }

  .slider {
    margin-top: 10px;
    margin-left: 0;
    width: 398px;
  }


   
}