/* CSS Document */



ul {
  list-style-type: none;
  display: inline;
  padding-left: 0px;
  padding-right: 0px;
}

li{
  display:inline-block;
}

li a {
  display: block;
  color: rgb(26, 26, 26);
  text-align: center;
  padding: 14px 16px 0px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
}

.Nav1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.Nav2 {
  display: flex;
}

.Logozalando {
  flex: 33.33%;
  padding: 5px;
  max-width: 120px;
}

.Icon {
  flex: 33.33%;
  padding: 5px;
  max-width: 20px;
}



.collectie {
  padding-bottom: 0px;

} 




